@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light: linear-gradient(105deg, #EDF4FF 20.03%, #F5F5F5 91.95%);
  --dark: #1E222D;
}

.dark-mode{
  background: var(--dark) !important;
  color: white !important;
  transition: all;
  transition-duration: 500ms; 
}

.light-mode{
  background:var(--light)!important ;
  color: black!important;
  transition: all;
  transition-duration: 500ms; 
}

/* setting width for children */
.calc-width {
width: calc(100vw - 16.8rem);
}

/* For Webkit Browsers (Chrome, Safari) */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #467DCE gray;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #467DCE;
  border-radius: 6px;
}


