@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light: linear-gradient(105deg, #EDF4FF 20.03%, #F5F5F5 91.95%);
  --dark: #1E222D;
}

.dark-mode{
  background: var(--dark) !important;
  color: white !important;
}

.light-mode{
  background:var(--light)!important ;
  color: black!important;
}

/* setting width for children */
.calc-width {
width: calc(100vw - 16.8rem);
}

.bgColor {
  background:linear-gradient(105deg, #EDF4FF 20.03%, #F5F5F5 91.95%)
}